.td_desc {
	width: 150px;
}

.td_desc * {
	float: right;
	margin-left: 10px;
}

.table_line {
	text-align: left;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	border: 0px solid;
	background-color: #D9E2EF
}

textarea {
	max-width: 418px; 
	width: 418px;
}