.btn_tamanho{ 
	width: 78px; 
}

table.tabela tr {
	font-family: verdana;
    font-size: 11px;
    border-collapse: collapse;
    border:1px solid #596d9b; 
	width: 690px;
}

.td_acoes{
	font-family: verdana;
    font-size: 11px;
    border-collapse: collapse;
    border:1px solid #596d9b;
	width: 165px;

}
.td_texto{
	font-family: verdana;
    font-size: 11px;
    border-collapse: collapse;
    border:1px solid #596d9b; 
	width: 525px;
}

