

.formulario{
    background-color:#D9E2EF;
    font:11px Arial;
    text-align:left;
}

table.tabela tr td{
    font-family: verdana;
    font-size: 11px;
    border-collapse: collapse;
    border:1px solid #596d9b; 
}

#tabela{
	margin-top: 10px;
}
.msg_sucesso{
    background-color:#008000;
    font: bold 14px "Arial";
    color:#FFFFFF;
    text-align:center;
	width: 700px;
}

.btn{
	width: 70px;

}

#titulo {
	width: 350px;
}