
#wrapper {
	text-align: center;
	width: 720px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 5px;
}


#triax {
	float: left;
	width: 242px;
	height: 100%;
	text-align: right;
}

#logo {
	float: right;
	width: 475px;
}

#titulo {
	float: right;
	width: 475px;
}

#texto {
	float: right;
	width: 450px;
	text-align:left;
	margin-top:25px;
}

#leftCol {
	float: left;
	width: 100px;
	text-align: right;
}

#middleCol {
	float: left;
	text-align:left;
	margin-right: 5px;
}

#rightCol {
	float: right;
	width: 100px;
}
