#loginBox {
	font: normal normal 12px/14px Arial, Helvetica, sans serif;
	color:#2c3547;
	margin-top:0px;
}
#loginBox label {
	display: inline-block;
	_zoom: 1;
	*zoom: 1;
	width: 45px;
	color: #2c3547;
	font-weight: bold;
}
#loginBox input {
	width: 145px;
}
#loginBox a {
	color: #2c3547;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	clear:none;
	text-align:right;
	width: 224px;
	text-decoration: none;
}
#loginBox a:hover {
	text-decoration: underline;
	font-size: 12.5px;
	color:#E4C300;
	font-weight: bold; 
}
/*  DIVs de mensagem e erro */
#entrando, #errologin, #brw {
	position: absolute;
	margin:0 37px;
	width: 200px;
	z-index:10000;
	font-family: Arial, sans-serif!important;
	font-size: 12px;
	line-height: 14px;
	display:none;
	text-shadow: 0 0 0 #990000;
	-moz-text-shadow: 0 0 0 #990000;
}
#entrando, #errologin {
	background-color: transparent;
}
.erro, .msg {
	border-radius: 8px;
	-moz-border-radius: 8px;
	width: 80%;
	margin: auto;
	padding:10px;
	color: white;
	behavior: url(js/PIE.php);
}
.erro {
	color: #900;
	height: 1.2em;
	/*-pie-background: rgba(255,170,170,0.8);*/
	behavior: url(js/PIE.php);
/*	filter: alpha(opacity=80);*/
}
.erro_dup {
	height: auto;
	background-color: #c99;
	background-color: rgba(204, 96,96, 0.8)!important;
}
.msg {
	/*border: 1px solid #138;*/
	color: white!important;
	background-color: #273977;	/*	IE	*/
	background-color: rgba(39,57,119,0.8);
	*background-color: #273977;
	_background-color: #273977;
	opacity: 0.8;
	-pie-background: rgba(39,57,119,0.8);
	behavior: url(js/PIE.php);
/*	filter: alpha(opacity=80);*/
}
/* CSS para a mensagem sobre os navegadores */
#brw {
	display: block;
	height: 2em;
	padding: 0 1ex;
	line-height: 2em;
	top: 2px;
	overflow-y:hidden;
	opacity: 1!important;
	z-index: 9999;
}
div#brw.msg {width: 175px;white-space: nowrap}
div#brw.erro {
	margin: auto;
	background-color: #faa;
	background-color: rgba(255,170,170,0.9);
	*background-color: #faa;
	_background-color: #faa;
}
#brw.msg:hover{
	height: 4em;
}
#brw.erro:hover{
	height: auto;
	margin: auto;
	width: 270px!important;
	height: 86px!important;
}
#brw a {
	font-weight: bold;
	text-decoration: underline;
}
#brw a:hover {color: red!important;}

fieldset {
	padding: 2ex 2em;
	background-color:#eee;
	background-image:-webkit-linear-gradient(#ccc,#eee);
	border-radius:5px;
	-moz-border-radius:5px;
	color:#258EA8;
	border: 0 solid transparent;
	behavior: url(js/PIE.php);
}
input[type="text"], input[type="password"], textarea {
	padding: 4px 7px 5px;
	background: #EEE;
	border:1px solid #262626;
	color: #666;
	font-family: Arial, Tahoma, Verdana, sans-serif!important;
	font-size: 13px;
	behavior: url(js/PIE.php);
}
button#btnAcao {
	padding: 3px;
	margin: 0 10px 5px 0;
	
	border:2px solid #E8E8E8;
	border-radius: 45px;
	-moz-border-radius: 45px;
	-webkit-border-radius: 45px;
	outline: none;
	
	display:inline-block;
	cursor:pointer;
	padding: 8px 14px 8px;
	margin-right: 20px;
	float: right;
	
	background:#258EA8;
	text-decoration:none;
	color: #fff;
	text-decoration: none;
	
	font: normal 14px/1em Georgia, 'Times New Roman', Times, serif;
	font-style:italic;
	text-shadow: 0 -1px rgba(0,0,0,0.2);
	letter-spacing:0px;

	/*behavior: url(js/PIE.php);*/
}

.senha_telecontrol {
	height:28px;
	width: 218px;
	float: left;
	font-family: Arial, Helevtica, Verdana, san-serif;
}
.login_telecontrol,.btn_logar_telecontrol {
	float: left;
	height:28px;
	font-family: Arial, Helevtica, Verdana, san-serif;
}
.login_telecontrol{
	width: 100%;
	margin:12px 0px 8px 0px;
}

.btn_logar_telecontrol{
	float:left;
	line-height: 28px;
	*margin-top:0px;
	_margin-top:0px;
	margin-top:2px;
	@margin-top:0px;
	margin-top /*\**/: -1px\10; /* Internet Explorer 8 */  
	*margin-top: -1px; /* Internet Explorer 6 e 7 */  
	_margin-top: -1px; /* Internet Explorer 6 */
}

.acessar_telecontrol{
	float:right;
	width: 84%;
	margin-top:5px;
	text-align:left;
}


@-moz-document url-prefix() {
	.btn_logar_telecontrol{
		float:right;
		width: 25%;
		float:left;
		height:28px;
		margin-top:0px;
	}
}

.informativo_telecontrol{
	padding:4px 0px 0px 0px; 
}

.informativo_telecontrol a{
	text-align: left;
	text-decoration: none;
}

.informativo_telecontrol a:hover {
	display: block;
	font-weight: bold;
	text-decoration: none;
}

.input_gravar {
	color:white;
	height:25px;
	border:0px;
	background:#2c3547;
	cursor: pointer;
}

.input_gravar:hover {
	color:#E4C300;
	border:solid 1px #E4C300;
}
