* {margin:0;padding:0;}
body {
    font-size: 12px;
    font-family: Arial;
}

#map {
    display: none;
}

#map .state {
    cursor: pointer;
}

#map .state .shape {
    cursor: pointer;
    -width: 0;
}

#map .state .label_icon_state {
    fill: #fff;
    font-family: Arial;
    font-size: 11px;
    line-height: 12px;
    font-weight: normal;
}

#map .state .label_state {
    display: none;
    font-family: Arial;
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
}

#map .state:hover .label_state,
#map .state.hover .label_state {
    display: block;
}

#map .model-green .state .shape {
    fill: #DC221C;
}

#map .model-green .state .icon_state {
    fill: #000;
}

#map .model-green .state .label_icon_state {
    fill: #fff;
}

#map .model-green .state .label_state {
    fill: #666;
}

#map .model-green .state:hover .shape,
#map .model-green .state.hover .shape {
    fill: #000000;
}

#map .model-green .state:hover .icon_state,
#map .model-green .state.hover .icon_state {
    fill: #000;
}

#map .model-orange .state .shape {
    fill: #fd7132;
}

#map .model-orange .state .icon_state {
    fill: #6cb361;
}

#map .model-orange .state .label_icon_state {
    fill: #fff;
}

#map .model-orange .state .label_state {
    fill: #666;
}

#map .model-orange .state:hover .shape,
#map .model-orange .state.hover .shape {
    fill: #c93f04;
}

#map .model-orange .state:hover .icon_state,
#map .model-orange .state.hover .icon_state {
    fill: #10592f;
}

#map .model-darkgreen .state .shape {
    fill: #366823;
}

#map .model-darkgreen .state .icon_state {
    fill: #2779c6;
}

#map .model-darkgreen .state .label_icon_state {
    fill: #fff;
}

#map .model-darkgreen .state .label_state {
    fill: #666;
}

#map .model-darkgreen .state:hover .shape,
#map .model-darkgreen .state.hover .shape {
    fill: #4a8c31;
}

#map .model-darkgreen .state:hover .icon_state,
#map .model-darkgreen .state.hover .icon_state {
    fill: #5a95ce;
}

img#menu_sup {border: 0 transparent solid;margin-top: 1px;cursor:pointer;}
#mapabr {
    text-align:center;
    position:relative;
    width:800px;
    margin-left:auto;
    margin-right:auto;
    z-index: 10;
}
img {border: 0 transparent solid;cursor: pointer}

div#postos_estado {
    margin: 0 auto;
    display: none;
    position:relative;
    width: 1050px;
    text-align: left;
    height: 380px;
    z-index: 1;
    background: #eeeeee;
    margin-top: 1em;
    padding-top: 1em;
}
div#postos_estado div#voltar {
    position: absolute;
    top: 2em;
    left: 2em;
    width: 32px;
    height:32px;
    cursor: pointer;
    z-index: 100;
}
div#postos_estado #nome_estado {
    background: #DC221C url(../imagens/mf_mapa_ico.gif) no-repeat 1ex 3px;
    color:white;
    height:30px;
    margin:auto 1.5ex;
    padding:1ex 0 0 48px;
    text-align:left;
    vertical-align:middle;
}
select#estado {
    width: 250px;
}
div#ul_cidades {
    position: absolute;
    top: 60px;
    width: 250px;
    background-color: transparent;
    color: white;
    margin:0 2ex;
    height: 90%;
}
#ul_cidades select {
    background-color: rgba(255, 255, 255, 0.75);
    border: 1px solid #ccc;
    height: 280px;
    width: 250px;
    padding: 1ex 0 0 4px;
}
#ul_cidades select option {
    padding: 2px 1em;
    background-color: rgba(255, 255, 255, 0);
    border-bottom: 1px lightgrey dashed;
    border-radius: 4px;
    -moz-border-radius: 4px;
}
#ul_cidades select option:hover {
    background-color: #8bcbe3;
}

#ul_cidades h4 {
    background-color: #DC221C;
    vertical-align: middle;
    margin-bottom: 5px;
    padding-left: 1ex;
    font-size: 1.2em;
    line-height: 2em;
}
/*  Tabela de postos    */
div#tbl_postos {
    position: absolute;
    top: 60px;
    left: 270px;
    width: 750px;
    background-color: transparent;
    color: white;
    height: 80%;
    overflow-x: hidden;
    overflow-y: auto;
}

#tbl_postos table#postos {
    width: 100%;
    border-collapse: separate;
    border-spacing: 2px;
    font-size: 11px;
}
table#postos caption {
    margin-bottom: 5px;
    font-size: 14px;
    background-color: #DC221C;
    width: 100%;
    padding: 6px;
    font-family: arial;
    font-weight: bold;
}
table#postos thead th {
    background-color:  #555555;
    vertical-align: middle;
    font-size: 1.1em;
    height: 20px;
}

#tbl_postos table#postos tbody tr {
    border-bottom: 1px solid white;
    font-size: 1.1em;
    border-bottom: 1px white solid;
}
#tbl_postos table#postos tbody tr:hover {
    background-color: rgba(255,255,255,0.4);
}
#tbl_postos table#postos tbody tr td {
    border-bottom: 1px solid white;
    font-size: 1em;
    overflow: hidden;
    width: 150px;
    padding: 0.5ex 1em;
    margin: 0;
    color: #222222;

}

table#postos tbody td+td {width: 200px}
table#postos tbody td+td+td {width: 80px;text-align: right}
table#postos tbody td+td+td+td {width: 32px;text-align:center}

.btn-info {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #49afcd;
  *background-color: #2f96b4;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
  background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
  background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
  background-repeat: repeat-x;
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  color: #ffffff;
  background-color: #2f96b4;
  *background-color: #2a85a0;
}

.btn-info:active,
.btn-info.active {
  background-color: #24748c \9;
}

.btn-info.active {
  color: rgba(255, 255, 255, 0.75);
}

.th_assist{
    padding: 5px;
    padding-left: 10px;
}
.tac{
    text-align: center !important;
}
.tal{
    text-align: left !important;
}
.tar{
    text-align: right !important;
}